@charset "utf-8";

html,
body {
    overflow-x: hidden;
}

.body {
    /* 背景を２つ指定（下に色・上に画像） */
    background-color: #f8f9f3;
    background-image: url(./image_PF/all_bg.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    /* 合成モード */
    background-blend-mode: multiply;
}

/* First View */

#header {
    margin-bottom: 130px;
    position: relative;
    width: 100%;
    height: 100vh;

}

.header_inner img.petal {
    position: absolute;
    height: auto;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeIn 1.5s ease forwards;

}

/* 花びらの位置 */
.petal1 {
    left: 5%;
    top: -15%;
    animation-delay: 0.3s;
}

.petal2 {
    left: 41%;
    top: 13%;
    animation-delay: 2.0s;
}

.petal3 {
    right: 11.9%;
    top: 33%;
    animation-delay: 2.7s;
}

.petal4 {
    left: 29%;
    top: 47.7%;
    animation-delay: 3.4s;
}

.petal5 {
    right: 5%;
    top: 4%;
    animation-delay: 4.1s;
}

h1.header_title img {
    position: absolute;
    left: 10.7%;
    bottom: 3.75%;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1.5s ease forwards;
    animation-delay: 4s;

}

/* 花びらフェードイン */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* ロゴ 下からふわっと */

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translate(-50%, 20px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

/* スクロール */
.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    position: relative;
    font-family: "fot-tsukubrdgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    ;
}

.txt {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.scroll::before {
    animation: scroll 3.5s infinite;
    border: solid #444;
    border-width: 0 0 1px 1px;
    content: "";
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;

}

@keyframes scroll {

    0% {
        transform: rotate(-45deg) translate(0, 0);
    }

    80% {
        transform: rotate(-45deg) translate(-30px, 30px);
    }

    0%,
    80%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

/* CONCEPT */

.concept_wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 165px;
    padding-top: 300px;
}

.concept_img {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;
}

.leaf_r {
    left: 50%;
    position: absolute;
    top: 300px;
}

.leaf_l {
    padding-top: 400px;
    position: absolute;
    left: 0;
}

.content_main {
    position: relative;
    flex-direction: row-reverse;
    writing-mode: vertical-rl;
    letter-spacing: 0.1em;
    top: -100px;
    white-space: nowrap;
    margin-left: 94px;
}

.content_main p {
    line-height: 1.8;
    font-size: 40px;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.content_main span {
    font-size: 60px;
}

.content_sub {
    position: relative;
    writing-mode: vertical-rl;
    white-space: nowrap;
    letter-spacing: 0.1em;
    top: 180px;
    z-index: 2;

}

.content_sub p {
    line-height: 2.3;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;

}

.bg-img_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 150px 0px 92px 0;
}

.bg-imgdot {
    text-align: center;
}

/* スクロールすると切り替わるセクションタイトル */

.lMain_progress {
    box-sizing: border-box;
    width: 3%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lMain_progress::after {
    content: "";
    display: block;
    width: 2px;
    height: 100px;
    background: black;
}

.lMain_progress .cProgress {
    /* padding: 15px; */
    height: 100px;
    width: 100%;
    position: relative;
}

.lMain_progress .cProgress_sectionNav {
    /* position: sticky;
    top: 0; */
    writing-mode: vertical-rl;
    /* display: none; */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    opacity: 0;
    font-family: "fot-tsukubrdgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;

}

/* ナビゲーションメニュー固定 */
.l_header {
    font-family: "FOT-筑紫B丸ゴシック Std", sans-serif;
    letter-spacing: .06em;

}

.l_header_right {
    right: 0;
    padding-top: 25px;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999;
    box-sizing: border-box;
}

.nav_scrolled {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
}

.nav_scrolled {
    opacity: 1;
    pointer-events: auto;
}

.nav_scrolled li {
    display: block;
    align-items: center;
    margin: 56px 0;
    font-family: "fot-tsukubrdgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.nav_scrolled a {
    display: block;
    writing-mode: vertical-rl;
    transition: opacity 0.3s;
}

/* ABOUT*/

.about_wrap {
    margin-top: 140px;
    margin-bottom: 170px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;

}

.about_container1 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;

}

.photoMe {
    position: absolute;
    border-radius: 40px;
    left: 9.75%;
    top: 60%;
    z-index: 1;

}

.about_heading1 {
    writing-mode: vertical-rl;
    flex-direction: row-reverse;
    font-size: 25px;
    color: #17439a;
    margin-bottom: 150px;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.about_content1 {
    writing-mode: vertical-rl;
    order: -1;
    font-size: 15px;
    padding-top: 46px;
    position: relative;
    z-index: 10;

}

.about_content1 .block {
    line-height: 2.5;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.about_container2 {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin-top: 250px;
    margin-bottom: 250px;

}

.about_block1 {
    display: flex;
    flex-direction: row-reverse;
    top: 200px
}

.ab_heading_sumup {
    display: flex;
    flex-direction: column;
}

.about_heading2 {
    writing-mode: vertical-rl;
    font-size: 25px;
    color: #17439a;
    padding-bottom: 24px;
    z-index: 10;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.about_sub_heading {
    writing-mode: vertical-rl;
    font-size: 18px;
    color: #6ca1a2;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.about_content2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 15px;
    line-height: 2.5;
    z-index: 10;
    padding-right: 78px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lilac2 {
    position: absolute;
    top: 200px;
    right: 0%;
    z-index: 1;
}

.about_block2 {
    display: flex;
    flex-direction: row-reverse;
    top: 100px
}

.about_heading3 {
    writing-mode: vertical-rl;
    font-size: 25px;
    color: #17439a;
    margin-top: 248px;
    margin-left: 44px;
    z-index: 10;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.about_content3 {
    writing-mode: vertical-rl;
    font-size: 15px;
    margin-top: 294px;
    padding-left: 214px;
    line-height: 2.5;
    position: relative;
    z-index: 10;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lilac3 {
    position: absolute;
    top: 900px;
    left: 11%;
    z-index: 1;

}



/* SKILL */
.skill_wrap {
    background-image: url(../image_PF/sk_bg_img.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 120px 0 96px 0;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    top: 300px;
    transition: 1s;
}

.skill_wrap.is-show {
    top: 0;
}

.skill_container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.skill_header {
    font-size: 40px;
    text-align: center;
    color: #17439a;
    padding-top: 118px;
    margin-right: 16px;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.skill_sub_header {
    text-align: center;
    font-size: 25px;
    color: #6ca1a2;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.skill_container1 {
    display: flex;
    justify-content: center;
    gap: 140px;
}

.skill_inner1 {
    position: relative;
    width: 33.8%;

}

.ds_leaf {
    width: 100%;

}

.skill_block1 {
    position: absolute;
    top: 24.7%;
    left: 13.6%;

}

.desc_main_title1 {
    font-size: 20px;
    font-family: "vdl-admin", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.desc_text1 {
    font-size: 15px;
    padding-top: 27px;
    padding-bottom: 27px;
    line-height: 1.8;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.skill_pieChart1 {
    padding-left: 42px;
}

.graph_ps {
    padding-left: 27px;
}


.skill_inner2 {
    position: relative;
    width: 35.5%;
}

.cd_leaf {
    width: 100%;

}

.skill_block2 {
    position: absolute;
    top: 35.5%;
    left: 15%;
}

.desc_main_title2 {
    font-size: 20px;
    font-family: "vdl-admin", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.desc_text2 {
    font-size: 15px;
    padding-top: 27px;
    padding-bottom: 35px;
    line-height: 1.8;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.skill_container2 {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.skill_inner3 {
    position: relative;
    width: 30.5%;
    padding-top: 56px;
}

.skill_ds_text3 {
    position: absolute;
    top: 30.8%;
    left: 15%;
}

.desc_main_title3 {
    font-size: 20px;
    font-family: "vdl-admin", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.desc_text3 {
    font-size: 15px;
    padding-top: 30px;
    line-height: 1.8;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.skill_inner4 {
    width: 25%;
    padding-top: 58px;
}



/* WORKS Slider*/
#works {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}



.works_header {
    font-size: 40px;
    text-align: center;
    margin-top: 260px;
    margin-bottom: 150px;
    color: #17439a;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.works_slider_wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.slick-list {
    overflow: visible;
}

.works_slider_box {
    flex: 1 1 250px;
    max-width: 300px;
    aspect-ratio: 1/1;
    width: 300px;
    border: none;
    background: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 20px;
}

.works_slider_box_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.works_slider_box_number {
    margin-top: -35px;
    font-size: 35px;
    color: #17439a;
}

.works_slider_box p {
    font-family: "vdl-admin", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.works_slider_box_title {
    font-size: 18px;
    color: #999999;
}

.slick-slide img {
    display: inline-block;
}

.works_slider_box_img {
    text-align: center;
}

.works_slider_box_img img {
    width: 70%;
    max-width: 220px;
    aspect-ratio: 1/1;
    object-fit: contain;
    cursor: pointer;
    padding-bottom: 16px;

}

.works_slider_box_category {
    font-size: 18px;
    text-align: right;
}


.works_slider_box:hover {
    background-color: rgba(223, 194, 0, 0.85);

}

.slick-dots {
    bottom: -70px;
}


.works_btn {
    text-align: center;
}

.works_btn div {
    display: inline-block;
    background-color: #34719f;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
    width: 150px;
    padding: 20px 0;
    margin: 220px auto 270px;
    cursor: pointer;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-style: normal;
    box-sizing: border-box;



}


.works_btn div:hover {
    background: #fff;
    color: #34719f;
    border: 1px solid #34719f;

}

.bg-imgdot2 {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 60px;
}

/* CONTACT */

.contact_container {
    display: flex;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 263px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.contact_block {
    width: 50%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;

}

.contact_link {
    margin-top: 75px;
}

.contact_btn div {
    display: inline-block;
    background-color: #34719f;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
    width: 150px;
    padding: 20px 0;
    margin: 0 auto;
    cursor: pointer;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: inline-block;

}

.contact_btn div:hover {
    background-color: #fff;
    color: #34719f;
    border: 1px solid #34719f;
}

.follow_block {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

.contact_heading h3 {
    font-size: 30px;
    color: #17439a;
    line-height: 140%;
    margin-bottom: 24px;
    font-weight: normal;
    letter-spacing: .06em;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.contact_heading p {
    opacity: 0.7;
    font-size: 16px;
    margin-bottom: 73px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.follow_link span {
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;

}

/* Footer */
.footer_wrap {
    width: 100%;
    background: url(../image_PF/footer_img.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: #444;
    padding-bottom: 24px;
    position: relative;
    height: 400px;
}

.footer_container {
    max-width: 1200px;
}


.fuwafuwa_lilac {
    animation: fuwafuwa 3s ease-in-out infinite alternate;
    background: url(../image_PF/footer_lilac.svg) no-repeat center center/231px 150px;
    display: inline-block;
    transition: 1.5s ease-in-out;
    width: 231px;
    height: 150px;
    text-align: right;
    margin-right: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.copyright {
    font-family: "vdl-admin, sans-serif";
    font-weight: 400;
    font-style: normal;
}

@keyframes fuwafuwa {
    0% {
        transform: translate(0, 0) rotate(-7deg);

    }

    50% {
        transform: translate(0, -7px) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(7deg);
    }
}

.copyright {
    position: absolute;
    font-size: 15px;
    bottom: 13%;
    right: 2%;

}

/* WORKS PAGE */
/* html,
body .works_page {
    overflow-x: visible;
} */

.works_header #header {
    max-width: 1200px;
}

.works_page #header {
    height: auto;
}

.works_page {
    background-image: url(../image_PF/bg_semicircle.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    position: relative;
    height: 567px;
}

.header_logo {
    position: absolute;
    top: 11%;
    left: 5%;
}

.works_page .works_title {
    font-size: 40px;
    text-align: center;
    color: #17439a;
    padding-top: 226px;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.works_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    align-items: flex-start;
}

.works_box {
    flex: 1 1 250px;
    max-width: 300px;
    aspect-ratio: 1/1;
    border: none;
    background: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    z-index: 0;
    position: relative;

}

.works_box_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.works_box p {
    font-family: "vdl-admin", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.works_box_number {
    margin-top: -35px;
    font-size: 22px;
    color: #17439a;
}

.works_box_title {
    font-size: 13px;
    color: #999999;
}

.works_box_img {
    text-align: center;
}

.works_box_img img {
    width: 70%;
    max-width: 200px;
    aspect-ratio: 1/1;
    object-fit: contain;
    cursor: pointer;
    z-index: 1;
}

.works_box_category {
    font-size: 13px;
    text-align: right;
}

.works_box:hover {
    background-color: rgba(223, 194, 0, 0.85);

}

.works_btn2 {
    text-align: center;
}

.works_btn2 div {
    display: inline-block;
    background-color: #34719f;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
    width: 150px;
    padding: 20px 0;
    margin: 220px auto 270px;
    cursor: pointer;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-style: normal;

}


.works_btn2 div:hover {
    background: #fff;
    color: #34719f;
    border: 1px solid #34719f;
}

.works_contact_container {
    max-width: 1200px;
}

.works_contact_block {
    text-align: center;

}

.works_contact_heading h3 {
    font-size: 30px;
    color: #17439a;
    margin-bottom: 59px;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;

}

.works_contact_text1 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.works_contact_text2 {
    font-size: 16px;
    font-weight: bold;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.works_contact_btn {
    display: inline-block;
    background: #34719f;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
    width: 260px;
    padding: 20px 0;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 217px;
    text-decoration: none;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.works_contact_btn:hover {
    background-color: #fff;
    color: #34719f;
    border: 1px solid #34719f;
}


/* MODAL PAGE */
.modal {

    max-width: 900px;
}

.remodal {
    padding: 0;
}

.modal_content_header {
    background-image: url(../image_PF/bg_semicircle.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    position: relative;
    height: 520px;

}

.modal_header_logo {
    position: absolute;
    top: 11%;
    left: 6%;
}

.modal_title h3 {
    font-size: 30px;
    color: #444;
    text-align: center;
    margin-bottom: 88px;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 80px;
}

.mockUp_image {
    text-align: center;
}

.modal_text_container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.modal_text_container h5 {
    padding: 75px 0 42px 80px;
    font-size: 18px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
}

/* .modal_text_container::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #34719f;
} */

.modal_works_text {
    display: flex;
    justify-content: center;
    margin-top: 43px;
    text-align: left;

}

.modal_works_category {
    width: 44%;
}

.space {
    margin-left: 30px;
}

.space1 {
    margin-left: 26px;
}

.modal_works_category li {
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

.ul {
    list-style: none;
}

.modal_works_category li:not(:last-child) {
    margin-bottom: 28px;
}

.modal_works_detail p {
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.image_thumbnail {
    display: block;
    text-align: center;
    margin-top: 154px;
    margin-bottom: 174px;

}

.image_thumbnail .PC_img {
    width: 70%;
}

.image_thumbnail .SP_img {
    width: 70%;
    margin-top: 92px;
}

.modal_arrow {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 147px;
}

.modal_arrow p {
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modal_contact_container {
    max-width: 1110px;
    margin-top: 130px;
}

.modal_contact_heading {
    text-align: center;
}

.modal_contact_heading h3 {
    font-size: 30px;
    color: #17439a;
    margin-bottom: 59px;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;

}

.modal_contact_heading .text1 {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 20px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.modal_contact_heading .text2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 73px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modal_contact_btn div {
    background-color: #34719f;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
    width: 260px;
    padding: 20px 0;
    cursor: pointer;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0 auto;


}

.modal_contact_btn div:hover {
    background-color: #fff;
    color: #34719f;
    border: 1px solid #34719f;
}

.modal_icon_c {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 104px;
}


.modal_close_icon img {
    /* background-image: url(../image_PF/modal_1x/close_btn.svg);
    background-size: cover;
    background-position: center;
    background-color: transparent; */
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    margin: 0 auto;
}

.remodal-cancel:focus,
.remodal-cancel,
.remodal-cancel:hover {
    background: transparent;
}


.modal_icon_c p {

    font-size: 12px;
    text-align: center;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;

}



/* CONTACT PAGE */
/* html,
body .contact_page {
    overflow-x: visible;
} */

/* コンタクトヘッダー */
.contact_page.contact_header {
    max-width: 1200px;
}

.contact_page {
    background-image: url(../image_PF/bg_semicircle.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    position: relative;
    height: 567px;
}

.contact_page #header {
    height: auto;
}

.contact_page .header_logo {
    position: initial;
    padding: 60px 0 0 60px;

}



.contact_title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 88px;
    color: #17439a;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;
}


.contact_lead {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
}

.contact_text1 {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 35px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.contact_text2 {
    display: inline-block;
    font-size: 18px;
    text-align: left;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;

}

/* お問い合わせ入力フォーム */
.contact_form {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.form_block {
    margin-bottom: 88px;
    position: relative;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

label {
    font-weight: 300;
    width: 20%;
    display: block;
    padding-left: 90px;
    text-align: left;
    white-space: nowrap;
}

.form_field {
    border: none;
    background-color: #d3cce5;
    opacity: 0.5;
    border-radius: 5px;
    width: 75%;
    height: 45px;
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 100%;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inqury_field {
    background-color: #d3cce5;
    opacity: 0.5;
    height: 240px;
    padding: 10px 15px;
}

/* 送信ボタン */
.contact_send {
    text-align: center;
}

.contact_send_btn {
    background-color: #34719f;
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    border: none;
    width: 150px;
    padding: 20px 0;
    margin-top: 73px;
    cursor: pointer;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.contact_send_btn:hover {
    background-color: #fff;
    color: #34719f;
    border: 1px solid #34719f;
}

/* THANKS PAGE */
/* html,
body .thanks_page {
    overflow-x: visible;
} */

.thanks_header #header {
    max-width: 1200px;
}

.thanks_page #header {
    height: auto;
}

.thanks_page {
    background-image: url(../image_PF/bg_semicircle.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    position: relative;
    height: 567px;
}

.header_logo {
    position: absolute;
    top: 11%;
    left: 5%;
}

.thanks_title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 88px;
    color: #17439a;
    top: 39.8%;
    font-family: "ten-mincho", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 225px;
}


.thanks_text p {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 150px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.b_arrow {
    text-align: center;
    margin-top: 150px;
}

.back_home {
    text-align: center;
    font-size: 12px;
    margin-top: 12px;
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* レスポンシブ */
@media screen and (max-width:767px) {

    /* SP_FV */
    #header {
        margin-bottom: 50px;
    }

    .header_inner img {
        max-width: 100%;
        height: auto;

    }

    /* 花びらの位置 */
    .petal1 {
        left: -8%;
        top: 27.5%;
        animation-delay: 0.3s;
        width: 57%;
        min-width: 220px;
    }

    .petal2 {
        left: 17%;
        top: 49%;
        animation-delay: 2.0s;
        width: 90%;
        min-width: 300px;
    }

    .petal3 {
        right: 28.9%;
        top: 41.8%;
        animation-delay: 2.7s;
        width: 10%;
        min-width: 35px;
    }

    .petal4 {
        top: auto;
        left: 11.6%;
        bottom: 8.5%;
        animation-delay: 3.4s;
        width: 27%;
        min-width: 100px;
    }

    .petal5 {
        right: 12.5%;
        top: 31.8%;
        animation-delay: 4.1s;
        width: 26%;
        min-width: 100px;
    }

    h1.header_title img {
        left: 50%;
        top: 8%;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        animation-delay: 3s;
        min-width: 250px;
    }

    .scroll {
        padding-top: 60px;
    }

    /* SP_CONCEPT */
    .concept_wrap {
        max-width: 100%;
        padding-top: 60px;
    }

    .concept_img {
        display: block;
    }

    .leaf_r {
        width: 43%;
    }

    .leaf_l {
        padding-top: 275px;
        left: 9%;
        width: 37%;
    }



    .content_main {
        writing-mode: horizontal-tb;
        margin: auto;
    }

    .content_main p {
        line-height: 1.9;
        font-size: 20px;
        margin: 0 auto;
        text-align: left;
        width: 76%;
    }

    .content_main span {
        font-size: 30px;
    }

    .content_sub {
        writing-mode: horizontal-tb;
        top: 0;

    }

    .content_sub p {
        font-size: 15px;
        line-height: 2.6;
        text-align: left;
        width: 76%;
        margin: 0 auto;
    }

    .bg-img_wrap {
        width: 75%;
        margin: 0 auto;
        padding-top: 72px;
    }

    .bg-imgdot {
        padding-top: 40px;
        width: 80%;
        margin: 0 auto;
    }


    /* スクロールすると切り替わるセクションタイトル */
    .lMain_progress .cProgress_sectionNav {
        font-size: 14px;
    }

    /* ナビゲーションメニュー固定 */
    .nav_scrolled li {
        font-size: 14px;
    }

    /* SP_ABOUT */
    .about_container1 {
        display: block;

    }

    .about_heading1 {
        margin: 0 auto;
        padding-bottom: 105px;
    }


    .about_content1 {
        display: flex;
        width: 100%;
        margin: 0 auto;
        white-space: nowrap;
    }

    .about_content1 .block {
        padding-bottom: 180px;
        margin: 0 auto;
    }


    .photoMe {
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 160px;
    }

    .about_container2 {
        margin-top: 185px;
        display: block;
    }

    .about_block1,
    .about_block2 {
        flex-direction: column;
    }

    .ab_heading_sumup {
        flex-direction: row-reverse;
        margin: 0 auto;
        padding-bottom: 130px;
    }

    .about_heading2 {
        margin-left: 0;
        margin-right: 0;
    }

    .about_sub_heading {
        margin-left: 0;
        margin-right: 0;
        margin-top: 140px;
    }

    .about_content2 {
        padding-bottom: 130px;
        padding-right: 0;
        margin: 0 auto;
    }

    .about_block2 {
        margin: 0 auto;
    }

    .about_heading3 {
        margin: 0 auto;
    }

    .about_content3 {
        padding-top: 130px;
        margin: 0 auto;
        padding-left: 0;
    }

    /* 葉っぱがひらひら落ちる */
    /* @media (max-width: 767px) { */
    .about_container1 {
        position: relative;
        min-height: 600px;
        /* 仮に高さを確保しておく */
        overflow: hidden;
    }

    .falling-leaves {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .leaf {
        position: absolute;
        top: -100px;
        will-change: transform;
    }

    /* 下に落ちるアニメーション */
    @keyframes fall {
        to {
            transform: translateY(var(--fall-distance));
            opacity: 0.7;
        }
    }

    /* 左右にひらひら揺れる */
    @keyframes sway {
        0% {
            transform: translateX(0) rotate(0deg);
        }

        25% {
            transform: translateX(-20px) rotate(-15deg);
        }

        50% {
            transform: translateX(0) rotate(0deg);
        }

        75% {
            transform: translateX(20px) rotate(15deg);
        }

        100% {
            transform: translateX(0) rotate(0deg);
        }
    }

    /* } */



    /* SKILL_SP */
    .skill_wrap {
        background-image: url(../image_PF/SP/SP_sk_bg.svg);
    }

    .skill_header {
        font-size: 25px;
    }

    .skill_sub_header {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 90px;
    }

    .skill_container1,
    .skill_container2 {
        display: block;
    }

    .skill_inner1,
    .skill_inner2,
    .skill_inner3 {
        width: 100%;
        display: flex;
        padding-bottom: 120px;
    }

    .skill_inner3 {
        justify-content: center;
    }

    .desc_main_title1,
    .desc_main_title2,
    .desc_main_title3 {
        font-size: 18px;
    }

    .desc_text1,
    .desc_text2,
    .desc_text3 {
        font-size: 14px;
    }

    .ds_leaf {
        margin: -20px;
        width: 86%;
        min-width: 330px;
    }

    .skill_block1 {
        left: 15%;
        top: 15%;
    }

    .cd_leaf {
        width: 83%;
        min-width: 320px;
    }

    .skill_block2 {
        left: -6%;
        top: 22%;
    }

    .skill_ds_text3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .skill_inner2 {
        margin-left: 80px;
        width: 83%;
        min-width: 320px;
    }

    .skill_pieChart1,
    .skill_pieChart2 {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        gap: 10px;
    }

    .skill_pieChart1 {
        width: 50%;
        padding-top: 29px;

    }

    .graph_ps {
        padding-left: 0;
    }


    .skill_pieChart2 {
        margin-left: 89px;
        width: 28%;
    }

    .etc_leaf {
        width: 60%;
        min-width: 230px;
    }

    .skill_inner4 img {
        display: none;

    }

    /* SP_WORKS */
    .works_header {
        font-size: 25px;
    }

    .works_slider_box {
        max-width: 250px;
    }

    .works_slider_box_number {
        font-size: 28px;
    }

    .works_slider_box_title {
        font-size: 15px;
    }

    .works_slider_box_category {
        font-size: 15px;
    }


    /* SP_CONTACT */
    .contact_container {
        flex-direction: column;
        padding-bottom: 210px;
    }

    .contact_block {
        width: 100%;
        padding-bottom: 150px;
    }

    .follow_block {
        width: 100%;
    }

    /* SP_FOOTER */
    .footer_wrap {
        width: 100%;
        background: url(../image_PF/SP/footer_sp.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 115px;
        position: relative;
        padding-bottom: 0;
    }

    .fuwafuwa_lilac {
        background: url(../image_PF/footer_lilac.svg) no-repeat center center/121px 78px;
        width: 121px;
        height: 78px;
    }

    /* SP_WORKS */
    .header_logo {
        width: 40px;
        top: 5%;
        left: 4%;
    }

    .works_page .works_title {
        font-size: 30px;
        padding-top: 115px;
    }

    /* SP_CONTACT */
    .contact_title {
        font-size: 30px;
    }

    .contact_text1 {
        font-size: 18px;
    }

    .contact_text2 {
        font-size: 13px;
    }

    /* SP_SHANKS */
    .thanks_title {
        font-size: 30px;
        padding-top: 115px;
    }

    .thanks_text p {
        font-size: 16px;
    }

    /* SP_MODAL */
    .modal_content_header {
        height: 285px;
    }

    .modal_header_logo {
        width: 40px;
        top: 5%;
        left: 4%;
    }

    .modal_text_container {
        max-width: 100%;
        padding-top: 130px;
    }

    .modal_text_container h5 {
        padding: 0;
        text-align: center;
    }

    .modal_works_text {
        flex-direction: column;
        align-items: center;

    }

    .modal_works_category {
        width: 68%;
    }

    .modal_works_category li:not(:last-child) {
        margin-bottom: 10px;
    }

    .modal_works_detail {
        padding-top: 45px;
    }

    .modal_works_summary {
        padding-bottom: 20px;
    }

    .image_thumbnail {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .image_thumbnail .SP_img {
        margin-top: 40px;
    }

    .modal_arrow {
        gap: 72px;
    }

    .modal_contact_heading .text1 {
        font-size: 20px;
    }

    .mockup {
        width: 70%;
    }
}