@charset "utf-8";

.body {
    background-blend-mode: #fffff9 url(./image_PF/all_bg.svg)center top;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

/* First View */

#header {
    margin-bottom: 130px;
    position: relative;
    width: 100%;
    height: 100vh;

}

.header_inner img.petal {
    position: absolute;
    height: auto;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeIn 1.5s ease forwards;

}

/* 花びらの位置 */
.petal1 {
    left: 5%;
    top: -15%;
    animation-delay: 0.3s;
}

.petal2 {
    left: 41%;
    top: 13%;
    animation-delay: 2.0s;
}

.petal3 {
    right: 11.9%;
    top: 33%;
    animation-delay: 2.7s;
}

.petal4 {
    left: 29%;
    top: 47.7%;
    animation-delay: 3.4s;
}

.petal5 {
    right: 5%;
    top: 4%;
    animation-delay: 4.1s;
}

h1.header_title img {
    position: absolute;
    left: 10.7%;
    bottom: 3.75%;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1.5s ease forwards;
    animation-delay: 4s;

}

/* 花びらフェードイン */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* ロゴ 下からふわっと */

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}




.scroll_down {
    position: absolute;
    margin-top: 130px;
    left: 50%;
    display: block;
    text-decoration: none;
    transform: translate(-50%, -50%);
    font-size: 18px;
    writing-mode: vertical-lr;
}

.wavy_arrow {
    position: absolute;
    margin-top: 223px;
    left: 50%;
    width: 10px;
    height: 10px;
    border-left: 1px solid #444;
    border-bottom: 1px solid #444;
    transform: translateY(50%) rotate(-45deg);
    animation: float 2s infinite;

}

@keyframes float {

    0%,
    100% {
        transform: translateY(-20%) rotate(-45deg);
    }

    50% {
        toransform: translateY(20%) rotate(-45deg);
    }
}

/* CONCEPT */

.concept_wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 165px;
}

.concept_img {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
}

.leaf_r {
    width: 46%;
}

.leaf_l {
    width: 40%;
    padding-top: 400px;
}

.content_main {
    position: absolute;
    flex-direction: row-reverse;
    writing-mode: vertical-rl;
    line-height: 2;
    letter-spacing: 0.1em;
    font-size: 40px;
    top: 48%;
    right: 29%;
    white-space: nowrap;
    font-family: "貂明朝テキスト Regular", sans-serif;
}

.content_main span {
    font-size: 60px;
}

.content_sub {
    position: absolute;
    writing-mode: vertical-rl;
    white-space: nowrap;
    line-height: 2;
    letter-spacing: 0.1em;
    font-size: 25px;
    top: 70%;
    left: 16.9%;

}


.bg-img_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 150px 0px 92px 0;
}

.bg-imgdot {
    text-align: center;
}

/* スクロールすると切り替わるセクションタイトル */

.lMain_progress {
    box-sizing: border-box;
    width: 3%;
}

.lMain_progress .cProgress {
    padding: 15px;
}

.lMain_progress .cProgress_sectionNav {
    position: sticky;
    top: 0;
    writing-mode: vertical-rl;

}

/* .lMain_progress {
    position: sticky;
    top: 0;
    width: 3%;
    z-index: 999;
    box-sizing: border-box;
}

.cProgress {
    pointer-events: none;
    user-select: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: min(38rem);
    opacity: 1;
    transition: .4s ease opacity;
}

.cProgress_bar {
    width: 230px;
    height: 2px;
    background: var(--gray2);
}

.cProgress_bar .bar {
    transform-origin: right;
    width: 100%;
    height: 100%;
    background: var(--gray);

}

.cProgress_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    z-index: 0;
    width: 140px;
    height: 32px;
    overflow: hidden;
}

.cProgress_item .sectionNav {
    transform: translate(0);
}

.cProgress_item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    transition: .4s cubic-bezier(.65, 0, .35, 1)transform;
    transform: none;
    padding: 0 16px;
    width: max-content;
    height: max-content;
    box-sizing: border-box;
    writing-mode: vertical-rl;
} */

/* ナビゲーッションメニュー固定 */
.l_header {
    font-family: "FOT-筑紫B丸ゴシック Std", sans-serif;
    letter-spacing: .06em;

}

.l_header_right {
    right: 0;
    padding-top: 25px;
    position: fixed;
    top: 0;
    width: 3%;
    height: 100%;
    z-index: 999;
    box-sizing: border-box;
}

.nav_sctolled {
    pointer-events: auto;
    text-align: center;
    left: 50%;
    top: 50%;
    font-size: 18px;
    margin: 30%;
    margin-right: 2%;
}

.nav_scrolled li {
    display: block;
    align-items: center;
    margin: 56px 0;

}

.nav_scrolled a {
    display: block;
    writing-mode: vertical-rl;
    transition: opacity 0.3s;
}

/* ABOUT*/

.about_wrap {
    margin-top: 140px;
    margin-bottom: 170px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;

}

.about_container1 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;

}

.photoMe {
    position: absolute;
    border-radius: 40px;
    left: 9.75%;
    top: 60%;
    z-index: 1;

}

.about_heading1 {
    writing-mode: vertical-rl;
    flex-direction: row-reverse;
    font-size: 25px;
    color: #17439a;
    margin-bottom: 150px;
}

.about_content1 {
    writing-mode: vertical-rl;
    order: -1;
    font-size: 15px;
    line-height: 2.5;
    padding-top: 46px;
    position: relative;
    z-index: 10;
}



.about_container2 {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin-top: 250px;
    margin-bottom: 250px;
}

.about_block1 {
    display: flex;
    flex-direction: row-reverse;
}

.ab_heading_sumup {
    display: flex;
    flex-direction: column;
}

.about_heading2 {
    writing-mode: vertical-rl;
    font-size: 25px;
    color: #17439a;
    padding-bottom: 24px;
    z-index: 10;
}

.about_sub_heading {
    writing-mode: vertical-rl;
    font-size: 18px;
    color: #6ca1a2;
}

.about_content2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 15px;
    line-height: 2.5;
    z-index: 10;
    padding-right: 78px;
}

.lilac2 {
    position: absolute;
    top: 21%;
    right: 0%;
    z-index: 1;
}

.about_block2 {
    display: flex;
    flex-direction: row-reverse;

}

.about_heading3 {
    writing-mode: vertical-rl;
    font-size: 25px;
    color: #17439a;
    margin-top: 248px;
    margin-left: 44px;
    z-index: 10;
}

.about_content3 {
    writing-mode: vertical-rl;
    font-size: 15px;
    margin-top: 294px;
    padding-left: 214px;
    line-height: 2.5;
    position: relative;
    z-index: 10;
}

.lilac3 {
    position: absolute;
    top: 78%;
    left: 11%;
    z-index: 1;

}



/* SKILL */

.skill_wrap {
    background-image: url(../image_PF/sk_bg_img.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    z-index: 1;
    width: 100%;
    margin: 120px 0 96px 0;
    flex-wrap: wrap;
    margin: 0 auto;

}

.skill_container {
    max-width: 1200px;
}

.skill_header {
    font-size: 40px;
    text-align: center;
    color: #17439a;
    margin: 118px 0 16px 0;
}

.skill_sub_header {
    text-align: center;
    font-size: 25px;
    color: #6ca1a2;
}

.skill_container1 {
    display: flex;
    justify-content: center;
    gap: 140px;
}

.skill_inner1 {
    position: relative;
    width: 33.8%;

}

.ds_leaf {
    width: 100%;

}

.skill_block1 {
    position: absolute;
    top: 24.7%;
    left: 13.6%;

}

.desc_main_title1 {
    font-size: 20px;
}

.desc_text1 {
    font-size: 15px;
    padding-top: 27px;
    padding-bottom: 27px;
    line-height: 1.8;

}

.skill_pieChart1 {
    padding-left: 42px;
}

.graph_ps {
    padding-left: 27px;
}


.skill_inner2 {
    position: relative;
    width: 35.5%;
}

.cd_leaf {
    width: 100%;

}

.skill_block2 {
    position: absolute;
    top: 35.5%;
    left: 15%;
}

.desc_main_title2 {
    font-size: 20px;
}

.desc_text2 {
    font-size: 15px;
    padding-top: 27px;
    padding-bottom: 35px;
    line-height: 1.8;
}



.skill_container2 {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.skill_inner3 {
    position: relative;
    width: 30.5%;
    padding-top: 56px;
}

.skill_ds_text3 {
    position: absolute;
    top: 30.8%;
    left: 15%;
}

.desc_main_title3 {
    font-size: 20px;
}

.desc_text3 {
    font-size: 15px;
    padding-top: 30px;
    line-height: 1.8;
}

.skill_inner4 {
    width: 25%;
    padding-top: 58px;
}

/* WORKS */
.works_wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

.works_header {
    font-size: 40px;
    text-align: center;
    margin-top: 260px;
    margin-bottom: 150px;
    color: #17439a;
}

.works_container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}

.works_container li {
    float: left;
    width: 30%;
    box-sizing: border-box;
    transition: 0.3s ease all;
    white-space: nowrap;
}

.wk_block {
    position: relative;
    width: 325px;
    height: 325px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.wk_block::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 0;
    border-radius: 8px;
}



.works_number {
    font-size: 40px;
    color: #17439a;
}

.works_name {
    font-size: 18px;
    color: #999999;
}

.wk_block img {
    position: relative;
    z-index: 1;
    height: auto;
    text-align: center;
    margin-bottom: 32px;
}

.works_lead {
    font-size: 18px;
}

.wk_block:hover::before {
    background-color: rgba(223, 194, 0, 0.45);

}

.works_btn {
    display: block;
    background-color: #34719f;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 178px;
    right: 43.9%;
    letter-spacing: 0.1rem;



}

.works_btn.reverse:hover {
    background: #fff;
    color: #34719f;
}

.bg-imgdot2 {
    text-align: center;
    margin-top: 253px;
}

/* CONTACT */
.contact_wrap {
    padding-top: 385px;
    max-width: 1200px;
    width: 100%;
}

.contact_container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 263px;
}

.block1 {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

.link1 {
    margin-top: 75px;
    margin-left: 30%;
}

.contact_btn {
    background-color: #34719f;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
    width: 150px;
    height: 50px;
}

.contact_btn.reverse:hover {
    background: #fff;
    color: #34719f;
}

.block2 {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

.contact_heading h3 {
    font-size: 30px;
    color: #17439a;
    line-height: 140%;
    margin-bottom: 24px;
    font-weight: normal;
    letter-spacing: .06em;

}

.contact_heading p {
    opacity: 0.7;
    font-size: 16px;
}

.link2 img {
    margin-top: 76px;
}

/* Footer */
.footer_wrap {
    width: 100%;
    background: url(../image_PF/footer_img.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    color: #444;
    padding-bottom: 24px;
    position: relative;
}

.footer_container {
    max-width: 1200px;
}


.deco_lilac {
    text-align: right;
    margin-right: 0;
    padding-bottom: 216px;
}

.copyright {
    position: absolute;
    font-size: 15px;
    bottom: 13%;
    right: 2%;

}

/* WORKS PAGE */

.works_header h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 260px;
    margin-bottom: 150px;
    color: #17439a;
}

.works_container1 {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}

.works_container1 li {
    float: left;
    width: 30%;
    box-sizing: border-box;
    transition: 0.3s ease all;
    white-space: nowrap;
}

.wk_block1 {
    position: relative;
    width: 325px;
    height: 325px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.works_number1 {
    font-size: 40px;
    color: #17439a;
}

.works_name1 {
    font-size: 18px;
    color: #999999;
}

.wk_block1 img {
    position: relative;
    z-index: 1;
    height: auto;
    text-align: center;
    margin-bottom: 32px;
}

.wk_block1:hover::before {
    background-color: rgba(223, 194, 0, 0.45);

}

.works_btn {
    display: block;
    background-color: #34719f;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 178px;
    right: 43.9%;
    letter-spacing: 0.1rem;
}

.works_btn.reverse:hover {
    background: #fff;
    color: #34719f;
}


.works_contact_btn {
    display: block;
    background-color: #34719f;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
    width: 260px;
    height: 50px;
    position: absolute;
    top: 178px;
    right: 43.9%;
    letter-spacing: 0.1rem;
}



/* CONTACT PAGE */
.contact_text1 {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}

.contact_text2 {
    font-size: 18px;
    padding-top: 35px;
    text-align: left;
}